.container {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  min-height: 100vh;
}

.layout {
  min-height: 100vh;
}

.navigation {
  margin-top: 2rem;
  position: absolute;
  background-color: #fff;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.navPlaceholder {
  margin-top: 2rem;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}
